<mat-toolbar color="primary" class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <span>© 2024 AyurvedaMedicine</span>
    </div>
    <div class="footer-center">
      <a mat-button routerLink="/privacy-policy">Privacy Policy</a>
      <a mat-button routerLink="/terms-of-service">Terms of Service</a>
      <a mat-button routerLink="/contact-us">Contact Us</a>
    </div>
    <div class="footer-contact">
      <span>Contact Us:</span>
      <span>Email: info&#64;ayurvedamedicine.com</span>
      <span>Phone: +91-9876543210</span>
    </div>
    <div class="footer-right">
      <a mat-button href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a mat-button href="https://twitter.com" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a mat-button href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a mat-button href="https://en.wikipedia.org/wiki/Ayurveda" target="_blank" aria-label="Google">
        <i class="fab fa-google"></i>
      </a>
      <a mat-button href="https://github.com/Reddy2315/Capstone_Project_JFSD-Angular" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</mat-toolbar>
