/* login.component.css */

/* Container Styles */
.container {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

span{
  margin-right: 10px;
}

/* Heading Styles */
h3 {
  text-align: center;
  margin-bottom: 60px;
  color: #1976d2;
  font-weight: bolder;
}

/* Form Field Styles */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

/* Button Container Styles */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 48%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h3 {
    font-size: 20px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }

  .button-container button:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 18px;
  }

  .container {
    padding: 10px;
  }
}
