.carousel-container {
    position: relative;
    border-radius: 0px;
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    overflow: hidden;
  }
  
  .carousel-card {
    width: 100%;
  }
  
  img {
    width: 100%;
    height: 200px;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(228, 221, 221, 0.5); 
    color: rgb(19, 19, 19);
    border: none;
    z-index: 10; /* Ensure buttons are above other content */
    padding: 8px;
    border-radius: 50%; /* Circular buttons */
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  /* Add a box shadow for better visibility */
  .prev-button,
  .next-button {
    box-shadow: 0 4px 8px rgba(234, 234, 234, 0.3);
  }
  
  /* Hover and focus effects */
  .prev-button:hover,
  .prev-button:focus,
  .next-button:hover,
  .next-button:focus {
    background-color: rgba(181, 181, 181, 0.8);
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    img {
      height: 150px;
    }
  
    .prev-button,
    .next-button {
      font-size: 24px;
      width: 40px;
      height: 40px;
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    img {
      height: 120px;
    }
  
    .prev-button,
    .next-button {
      width: 30px;
      height: 30px;
      padding: 6px;
    }
  }
  