<button class="back-btn" mat-raised-button color="primary" (click)="goBack()">Back</button>

<h2><strong>Orders List</strong></h2>
<div class="table-container">
    <table mat-table [dataSource]="orders" class="mat-elevation-z8 main-table">
  
      <!-- Order ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Order ID </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.id }} </td>
      </ng-container>
  
      <!-- Customer ID Column -->
      <!-- <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Customer ID </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.customerId }} </td>
      </ng-container> -->
  
      <!-- Customer Name Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Customer Name </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.customerDetails?.userName }} </td>
      </ng-container>
  
      <!-- Customer Email Column -->
      <ng-container matColumnDef="customerEmail">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Customer Email </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.customerDetails?.email }} </td>
      </ng-container>
  
      <!-- Customer Address Column -->
      <ng-container matColumnDef="customerAddress">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Customer Address </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.customerDetails?.address }} </td>
      </ng-container>
  
      <!-- Order Amount Column -->
      <ng-container matColumnDef="orderAmount">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Order Amount </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.orderAmount | currency:'INR':'symbol':'1.2-2' }} </td>
      </ng-container>
  
      <!-- Order Date Column -->
      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Order Date </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.orderDate | date:'shortDate' }} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Status </th>
        <td mat-cell *matCellDef="let order" class="cell"> {{ order.status }} </td>
      </ng-container>
  
      <!-- Items Column -->
      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Items </th>
        <td mat-cell *matCellDef="let order" class="cell">
          <table mat-table class="nested-table" [dataSource]="order.orderItems">
  
            <!-- Medicine Name Column -->
            <ng-container matColumnDef="medicineName">
              <th mat-header-cell *matHeaderCellDef class="nested-header-cell"> Medicine Name </th>
              <td mat-cell *matCellDef="let item" class="nested-cell"> {{ item.medicineDetails?.name }} </td>
            </ng-container>
  
            <!-- Price Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef class="nested-header-cell"> Price </th>
              <td mat-cell *matCellDef="let item" class="nested-cell"> {{ item.medicineDetails?.price | currency:'INR':'symbol':'1.2-2' }} </td>
            </ng-container>
  
            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef class="nested-header-cell"> Quantity </th>
              <td mat-cell *matCellDef="let item" class="nested-cell"> {{ item.quantity }} </td>
            </ng-container>
  
            <!-- Item Total Column -->
            <ng-container matColumnDef="itemTotal">
              <th mat-header-cell *matHeaderCellDef class="nested-header-cell"> Item Total </th>
              <td mat-cell *matCellDef="let item" class="nested-cell"> {{ item.itemTotal | currency:'INR':'symbol':'1.2-2' }} </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="['medicineName', 'price', 'quantity', 'itemTotal']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['medicineName', 'price', 'quantity', 'itemTotal']"></tr>
  
          </table>
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Action </th>
        <td mat-cell *matCellDef="let order" class="cell">
          <button mat-button color="warn" *ngIf="order.status === 'Success'"  (click)="updateOrderStatus(order.id)">Cancel</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
  


